<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${userDto}" th:action="@{/create}" method="post">
    <table >
        <tr>
            <td>Fist Name</td>
            <td><input th:field="*{firstName}" type="text"></td>
            <td style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input th:field="*{lastName}" type="text"></td>
            <td style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>

        </tr>
        <tr>
            <td>Phone</td>
            <td><input th:field="*{phoneNumber}" type="text"></td>
            <td style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>

        </tr>
        <tr>
            <td>Age</td>
            <td><input th:field="*{age}" type="number"></td>
            <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>

        </tr>
        <tr>
            <td>Email</td>
            <td><input th:field="*{email}" type="text"> <span style="color: red" th:text="${mess}"></span>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>

        </tr>

    </table>
    <button type="submit">Save</button>
</form>

</body>
</html>